:root {
  --tablet-sidebar-width: 6rem;
  --desktop-sidebar-width: 12rem;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-height: 50vh;
}

.circle {
  border-radius: 20px;
  background-color: burlywood;
  width: 40px;
  height: 40px;
  min-height: 40px;
}

aside {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.logout-button {
  background-color: hsl(25, 75%, 49%);
  margin: 0.5rem;

  text-align: center;
  border-radius: 4px;
}

/* Double class selector for higher specificity
See: https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity */
.logout-button.logout-button:hover {
  background-color: hsl(25, 75%, 55%);
}

nav {
  --gap: 8px;

  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  background-color: darkslategray;
  border-bottom: 2px solid darkseagreen;
  font-size: 0.9rem;

  & a {
    color: white;
    text-decoration: none;
  }

  & .bar-item {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-width: 2.5rem;
    max-width: 6rem;

    min-height: 0;
    max-height: 4.5rem;

    padding: 0.5rem;

    overflow: hidden;
    text-overflow: ellipsis;

    transition: background-color 0.2s ease;

    &.logout-button {
      display: none;
    }
    &.menu-button {
      display: none;
    }
  }

  & .bar-item:hover {
    background-color: hsla(0, 0%, 0%, 0.289);
  }

  & .user-info {
    & .user-name {
      text-align: center;
      font-weight: 700;

      line-height: 1rem;
    }
  }
}

@media (min-width: 700px) {
  main {
    /* I don't think it is the best solution. 
    For me, this looks like a workaround ("gambiarra") */
    margin-left: var(--tablet-sidebar-width);
  }

  aside {
    height: 100%;
    width: var(--tablet-sidebar-width);
    position: fixed;
  }

  nav {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;

    & .bar-item {
      flex: none;
      max-height: none;
      max-width: none;

      &.logout-button {
        display: block;
        margin-top: auto;
      }
    }

    & .user-info {
      padding: 1rem;
      gap: var(--gap);

      border-bottom: 2px solid darkseagreen;

      & .user-name {
        /* Max 2 lines */
        line-height: 1rem;
        max-height: 2rem;
        overflow: hidden;

        font-weight: 700;
      }
    }
  }
}

@media (min-width: 1200px) {
  main {
    margin-left: var(--desktop-sidebar-width);
  }

  aside {
    width: var(--desktop-sidebar-width);
  }

  nav {

    font-size: 1rem;

    & .bar-item {
      flex-direction: row;

      gap: var(--gap);
    }

    & .user-info {
      flex-direction: column;
      align-items: flex-start;

      & .user-name {
        text-align: left;
      }
    }
  }
}

/* Very small device (I hate you, Galaxy Fold) */
@media (max-width: 350px) {
  nav {
    & .bar-item {
      display: none;

      &.menu-button {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1rem;
      }
    }

    & .user-info {
      display: flex;
    }
  }
}
